.category-block {
  margin-bottom: 4px;
}

.category-banner {
  border-left: 8px solid var(--ion-color-secondary);
  background-color: var(--ion-color-light);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

*{
  overflow: hidden;
}

.itemSearch{
  position: fixed;
  z-index: 999;
}
