<ion-header>
  <ion-toolbar>
    <ion-title>Pedido</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="print" class="text">
    <table class="printer-ticket" *ngFor="let x of array">
      <thead>
        <tr>
          <th class="title" colspan="3">Restaurante Teste</th>
        </tr>
        <tr>
          <th colspan="3">{{date | date: 'EEEE, dd-MM-yyyy -- hh:mm:ss '}}</th>
        </tr>
        <tr>
          <th colspan="3">
            Cliente: {{x.nome}} <br />
            CPF: {{x.cpf}}
          </th>
        </tr>
        <tr>
          <th class="ttu" colspan="3">
            <b>Cupom não fiscal</b>
          </th>
        </tr>
      </thead>
      <tbody *ngFor="let a of x.pedido">
        <tr class="top">
          <td colspan="3">{{a.name}}</td>
        </tr>
        <tr>
          <td>{{a.price | currency: 'BRL':'symbol'}}</td>
          <td>Quantidade: x{{a.count}}</td>
        </tr>
      </tbody>
      <tfoot>
        <tr class="sup ttu p--0">
          <td colspan="3" class="ttu">
            <b>Totais</b>
          </td>
        </tr>
        <tr class="ttu">
          <td colspan="2">Sub-total:</td>
          <td>{{totalPedido | currency: 'BRL':'symbol'}}</td>
        </tr>
        <tr class="sup">
          <td colspan="3">
            <p class="center">www.site.com.br</p>
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar *ngFor="let x of array">
    <ion-item-divider>
      OPÇÕES
    </ion-item-divider>
    <ion-list>
      <ion-item [disabled]="!opt1" button (click)="updatePreparando(x.cpf)">
        <ion-icon slot="start" name="fast-food-outline" color="warning"></ion-icon>
        <p class="ion-text-center">PEDIDO SENDO PREPARADO</p>
      </ion-item>
      <ion-item [disabled]="!opt2" button (click)="updateEncerrado(x.cpf)">
        <ion-icon slot="start" name="paper-plane-outline" color="success"></ion-icon>
        <p class="ion-text-center">O PEDIDO FOI ENVIADO</p>
      </ion-item>
      <ion-item [disabled]="!opt3" button (click)="updateCancelado(x.cpf)">
        <ion-icon slot="start" name="close-circle-outline" color="danger"></ion-icon>
        <p class="ion-text-center">O PEDIDO FOI CANCELADO</p>
      </ion-item>
      <ion-item [disabled]="!opt4" button (click)="changeData(x.cpf)">
        <ion-icon slot="start" name="archive-outline" color="primary"></ion-icon>
        <p class="ion-text-center">CONCLUIR O PEDIDO</p>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</ion-footer>