<ion-header>
  <ion-toolbar>
    <ion-title>Pedido Realizado!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-img
      src="https://www.suafranquia.com/views/sources/images/conteudo/principal/e67edfd4af92ba71222fa22571012461.webp">
    </ion-img>
    <ion-card-header>
      <ion-card-subtitle>Pedido enviado para a cozinha :D</ion-card-subtitle>
      <ion-card-title>Tudo certo!</ion-card-title>
      <ion-card-content>
        Agora só aguardar que logo logo você será servido!<br />
        Você também pode conferir o seu pedido pra ver se tá tudo certinho com ele<br />
        caso haja alguma inconsistência, considere chamar um garçom.
      </ion-card-content>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title>O que você deseja fazer agora?</ion-card-title>
      <div>
        <ion-button expand="full" (click)="redirectCard()">VOLTAR PARA O CARDÁPIO</ion-button>
      </div>
      <div>
        <ion-button expand="full" (click)="redirect()">VER MEUS PEDIDOS</ion-button>
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>